body {
    font-family: sans-serif;
    background: whitesmoke;
}

ul {
    background: #e3f4ff;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    padding: 8px;
}

h1 {
    color: aliceblue;
    background-color: brown;
}

h2 {
    color: lightskyblue;
    font-size: 36px;
}

.steps {
    color: black;
    font-weight: bold;
    font-size: 24px;
}